<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recherche Protéine</title>
</head>
<body>
    <h1>Rechercher une protéine</h1>
    
    <!-- Formulaire de recherche -->
    <form method="post" action="">
        {% csrf_token %} <!-- Pour la sécurité Django -->
        <label for="nom">Entrez un nom :</label>
        <input type="text" id="nom" name="nom" required>
        <button type="submit">Rechercher</button>
    </form>
    
    <!-- Message d'erreur -->
    {% if erreur %}
        <p style="color: red;">{{ erreur }}</p>
    {% endif %}
    
    <!-- Résultat de la recherche -->
    {% if proteine %}
        <h2>Informations :</h2>
        <p><strong>Entry :</strong> {{ proteine.Entry }}</p>
        <p><strong>Entry Name :</strong> {{ proteine.Entry_Name }}</p>
        <p><strong>Protein names :</strong> {{ proteine.Protein_names }}</p>
        <p><strong>Gene Names :</strong> {{ proteine.Gene_Names }}</p>
        <p><strong>Organism :</strong> {{ proteine.Organism }}</p>
        <p><strong>Sequence :</strong> {{ proteine.Sequence }}</p>
        <p><strong>EC number :</strong> {{ proteine.EC_number }}</p>
        <p><strong>InterPro :</strong> {{ proteine.InterPro }}</p>
    
    {% endif %}
</body>
</html>
